/* Slideshow */

.slideshow {
  /* margin: 0 auto; */
  overflow: hidden;
}
.mynav{
  border-radius: 0px;
  background: #ffffff;
  box-shadow:  20px 20px 70px #cfcfcf,
               -20px -20px 70px #ffffff;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: rgb(41, 40, 40);
}

.bigbrand:nth-of-type(even){
  background-color: rgba(243, 244, 246);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu{
  width: -webkit-fill-available;
}